

/* cor fundo e tamanho */
.sidenav {
    background-color: #00453d;
    width: 200px;
}

/* Cor fonte*/
.sidenav a {
    color: #fff;
}

/* Espaçamento entre texto e ícone */
.sidenav i {
    padding-right: 10px;
}

.content {
    padding: 16px;
    background-color: #fff;
    color: black;
}